@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
  /* padding-bottom: 100px; */
}
.first-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.second-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.gradient-text {
  background: linear-gradient(127deg, #00c49c 0%, #1e71a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -1.6px;
}
.set-bg {
  background-image: url(./images/bottomtwo-sec-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.primary-button {
  background-color: #00C29A;
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  cursor: pointer;
}
.commonbg-second{
  border-radius: 14px;
  background-color: #EBF7FF;
  width: 100%;
  max-width: 534px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}